.expandable-section {
  cursor: pointer;
}

.expandable-section-content {
  display: none;
}

.expandable-section-heading:after {
  content: "+";
  margin-left: 10px;
}

.expandable-section.expanded .expandable-section-content {
  display: block;
}

.expandable-section.expanded .expandable-section-heading:after {
  content: "-";
}
